<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- daisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main>
        <div class="container">
            <h1 class="text-center text-5xl my-6">
                Book Track
            </h1>
            <h2 class="text-3xl mb-6">Add titles, mark as completed, unmark, and if you hated it just delete it</h2>
            <div class="flex justify-center">
                <a class="btn btn-primary mx-6" href="/login">Login</a>
                <!-- btn-large waves-effect waves-light orange-lighten-1 -->
                <a class="btn btn-secondary mx-6" href="/signup">Signup</a>
            </div>
        </div>
        
    </main>

    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</body>
</html>