#submit-btn {
    cursor: pointer;
    margin-top: 1em;
}

.read, .delete {
    cursor: pointer;
}

input[type=text]:focus {
    border-bottom: 1px solid hsl(207, 90%, 54%) !important;
}

.btns-update {
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.notHidden {
    display: inline-block;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container .card {
    width: 20%;
}